@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');;

/* CSS VARIBLES */
:root {
  --black-blue: #011015;
  --text-main: #ffeffe;
  --text-hl: #00a3ad;
  --dark-acc: #004e60;
  --bright-acc: #ba0c2f;
}

/* MAIN STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body {
  background-color: var(--black-blue);
  color: var(--text-main);
}

h1 {
  font-family: 'Open Sans';
  font-weight: 700;
}

.view {
  height: 100%;
}

.btn {
  padding: .25rem .5rem;
  font-size: 20px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border-radius: 3px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.pointer:hover {
  color: var(--text-hl);
}